/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* reset css가 아닌, 자체적으로 추가한 css. input 칸을 눌러도 outlone이 생기지 않아 좀 더 예뻐보이게 함.*/
input:focus {
	outline: none;
}
/* 뭔가 적용이 안 된다 싶으면 띄어쓰기 한 번 수정해볼 것..
	vs코드에 prettier 적용하면 괜찮을 수도 있겠지만 여기는 군대니까...*/

a {
	color:inherit;
	text-decoration:none;
}
/* 모든 링크로 하여금 부모의 색을 종속 받도록 하고, 텍스트의 기본 설정을 없애는 코드*/