.nav {
	position:fixed;
	bottom:0;
	width: 100%;
	background-color:#f9f9fa;
	padding: 20px 50px;
	box-sizing: border-box;
	border-top: 1px solid rgba(121,121,121,0.3);
}
/*nav 클래스 전체에 배경색을 주고, 각 요소들이 패딩을 가지도록 설정함
	안 된다 싶으면 항상 띄어쓰기가 문제이므로 확인할 것

	nav를 하단에 고정시키기 위해 position fix를 사용하여 하단에 고정함
	다만 이때 배열이 깨지는데, 이를 해결하기 위해 width 100%를 설정하여 화면의 너비를 nav가 모두 차지하게 한다.
	이후 box-sizing을 border-box만큼만 줘 모든 아이콘이 드러나게 한다.
	
	현재 nav에 padding을 준 상태이다.
	기존에 설정된 nav의 너비에 padding의 너비가 더해져 nav의 width를 100%로 설정하면 너비의 총합이 100%가 넘는 상황이 발생하는데,  	
	이때 box-sizing을 border-box만큼으로 제한하여 총 박스의 크기를 유지한 채 노출되는 요소의 크기를 줄여 padding을 보장하는 방식으로 원하는 컨텐츠를 보이게 한다. */


.nav__list {
	display:flex;
	justify-content: space-between;
}

.nav__link {
	color:#2e363e;
	position:relative;
}

/* nav__link에 position relative를 부여하면 nav__notification는 nav가 아닌 nav__link를 기준으로 움직이게 된다.*/

.nav__notification {
	position:absolute;
	left:15px;
	bottom:15px;
}
/*position absolute를 통해 해당 코드가 레이어에 겹치도록 설정*/

.nav__dots {
	background-color: tomato;
	display:flex;
	width:6px;
	height:6px;
	border-radius:3px;
	justify-content:center;
	align-items:center;
	position:absolute;
	left:35px;
	bottom: 30px;
}
/*설정 변경사항을 알려주기 위한 코드.*/