.screen-header {
	display:flex;
	justify-content:space-between;
	padding: 40px 20px 20px;
	align-items:center;
}

.screen-header__title {
	font-size:28px;
	font-weight:600;
}

.screen-header__icons {
	margin:20px;
}

/*6.14 하다가 맘. margin left가 어떻게 나오는거지;;*/