.screen-header {
	display:flex;
	justify-content:space-between;
	padding: 40px 20px 20px;
	align-items:center;
}

.screen-header__title {
	font-size:32px;
	font-weight:600;
}

.screen-header__icons span{
	margin-left:20px;
}

/*screen-header__icons의 자식 요소들인 아이콘들 간 간격을 주기 위해 span을 꼭 붙여야 함.
	요소 간 간격을 주기 위해서 padding 대신 margin을 사용함.*/